## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Kapaa,US,79.12,Clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,2,Birigui,BR,85.33,Clear,-21.2886,-50.3400,Birigui Palace Hotel
2,3,Jamestown,US,80.06,Clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,4,Jibuti,DJ,85.77,Clear,11.5000,42.5000,Orchid Main Camp Goubet
4,7,Atuona,PF,78.12,Clouds,-9.8000,-139.0333,Villa Enata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

In [6]:
vacation_start = vacation_df.loc[vacation_df["City"]=="Galle"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Galle"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Hambantota"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Wattegama"]  
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Kalmunai"]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {start}), End: {end}')
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop1:{stop1}, Stop2:{stop2},Stop3{stop3}')

Start: (6.0367, 80.217)), End: (6.0367, 80.217)
Stop1:(6.1241, 81.1185), Stop2:(6.7989, 81.4808),Stop3(7.4167, 81.8167)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,276,Galle,LK,80.15,Rain,6.0367,80.2170,Amangalla
1,299,Hambantota,LK,79.66,Clouds,6.1241,81.1185,Bungalow 63
2,263,Wattegama,LK,77.49,Clouds,6.7989,81.4808,NaN
3,635,Kalmunai,LK,80.67,Clouds,7.4167,81.8167,VS Villa

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

['\n<dl>\n<dt>Hotel Name</dt><dd>Galle</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Weather Description</dt><dd>Rain</dd>\n<dt>Max Temp</dt><dd>80.15 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hambantota</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Weather Description</dt><dd>Clouds</dd>\n<dt>Max Temp</dt><dd>79.66 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Wattegama</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Weather Description</dt><dd>Clouds</dd>\n<dt>Max Temp</dt><dd>77.49 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kalmunai</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Weather Description</dt><dd>Clouds</dd>\n<dt>Max Temp</dt><dd>80.67 Â°F</dd>\n</dl>\n']

In [20]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))